<% title "Page not found" %>
<div class="row blog-main-page" id="error_page">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<!-- render blog menu -->
		<%= render 'layouts/nav_menu' %>
		<div class="text-center error-content">
			<h1 class="page-title">Page not found ngocquyhoang</h1>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
				<%= image_tag("404.jpg", alt: "error image 404", class: "error-logo")%>
			</div>
			<div class="clearfix"></div>
			<h2 class="come-back-home"><%= link_to "Come back Home", root_path %></h2>
		</div>
	</div>
</div>
<%= render 'layouts/scroll_up' %>
