/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/*import file in here*/
@import 'home.scss';
@import 'animate.scss';
@import 'landing_page.scss';
@import 'errors.scss';

@font-face {
	font-family: 'Hero';
	src: font-url('hero.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Linotte';
	src: font-url('linotte-light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Stag';
	src: font-url('stag-light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ostrich-title';
	src: font-url('OstrichSans-Bold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ostrich-content';
	src: font-url('OstrichSans-Medium.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Code-light';
	src: font-url('code-light.otf');
	font-weight: normal;
	font-style: normal;
}
html, body{
	font-family: 'Linotte';
}
/*preloaded page*/
.pre-loader{
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: asset-url('pre-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}
.footer-section{
	font-family: 'ostrich-content';
	background-color: #dfdcd7;
	p{
		padding: 20px 0;
		text-align: center;
		margin: 0;
		font-size: 20px;
		a{
			color: #007AFF;
			text-decoration: none;
		}
	}
}
.ngocquy_hidden{
	opacity:0;
}
.ngocquy_visible{
	opacity:1;
}
/*_______________________________________________________*/
/*_______________________menu blog______________________*/
/*_______________________________________________________*/
#blog_menu{
	z-index: 99;
	.navbar-default{
		background-color: #34AADC;
		border: 0px solid  #34AADC;
		border-radius: 0px;
	}
	.row::after{
		width: 100%;
		height: 2px;
		border-bottom: 1px solid #34AADC;
	}
	#blog-menu-reponsive-button{
		border-radius: 0px;
		background-color: #fff;
		border-color: #fff;
		.icon-bar{
			background-color: #34AADC;
		}
	}
	#blog-menu-reponsive-button:hover{
		background-color: #34AADC;
		.icon-bar{
			background-color: #fff;
		}
	}
	#home-logo-icon-text{
		font-family: 'ostrich-content';
		font-size: 20px;
		letter-spacing: 4px;
		color: #fff;
	}
	.container{
		padding: 0 30px;
	}
	.navbar-collapse{
		font-family: 'ostrich-content';
		font-size: 20px;
		letter-spacing: 4px;
		border: 0px;
		ul{
			li{
				a{
					color: #fff;
					padding: 10px 25px;
					text-align: center;
					line-height: 30px;
					i{
						float: left;
						margin: 0 5px;
						line-height: 30px;
					}
				}
			}
			li:hover{
				a{
					color: #34AADC;
					background-color: #fff;
				}
			}
			li.active{
				a{
					color: #34AADC;
					background-color: #fff;
				}
			}
		}
	}
	.navbar{
		margin-bottom: 0px;
	}
}
.blog-main-page{
	padding-top: 70px;
}
.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 1.8em;
	right: 1.8em;
	border: 1px solid #34AADC;
	color: rgb(255, 255, 255);
	background-color: #34AADC;
	a{
		color: #fff;
		padding: 5px 12px;
		display: inline-block;
	}
}
/*_______________________________________________________*/
/*____________________reponsive menu____________________*/
/*_______________________________________________________*/
@media (min-width: 768px) and (max-width: 992px) {
	#blog_menu{
		.navbar-collapse.collapse {
			display: none !important;
		}
		.navbar-collapse.collapse.in {
			display: block !important;
		}
		.navbar-header .collapse, .navbar-toggle {
			display:block !important;
		}
		.navbar-header {
			float:none;
		}
	}
}
