/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/*import file in here*/
@import 'home.scss';

@font-face {
	font-family: 'Hero';
	src: font-url('hero.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Linotte';
	src: font-url('linotte-light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Stag';
	src: font-url('stag-light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ostrich-title';
	src: font-url('OstrichSans-Bold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ostrich-content';
	src: font-url('OstrichSans-Medium.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Code-light';
	src: font-url('code-light.otf');
	font-weight: normal;
	font-style: normal;
}
html, body{
	font-family: 'Linotte';
}
/*preloaded page*/
.pre-loader{
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: asset-url('pre-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}
.footer-section{
	font-family: 'ostrich-content';
	background-color: #dfdcd7;
	p{
		padding: 20px 0;
		text-align: center;
		margin: 0;
		font-size: 20px;
		a{
			color: #007AFF;
		}
	}
}
