// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing-page{
	padding: 100px 0;
	color: #fff;
	height: 100vh;
	background-image: asset-url('bg-1-desktop-1051x699-black.jpg');
	background-position: center; 
	.landing-image{
		.main-logo{
			width: 100%;
		}
	}
	.landing-title{
		.title-text{
			text-align:center;
			font-family: 'ostrich-title';
			font-size: 55px;
			text-transform: uppercase;
			margin: 20px 0 30px;
		}
	}
	.landing-description{
		text-align: center;
		ul{
			li{
				margin: 30px 3.5% 0 3.5%;
				width: 5em;
				height: 5em;
				border: 1px solid #fff;
				-moz-border-radius: 5em;
				-webkit-border-radius: 5em;
				border-radius: 5em;
				padding-top: 1em;
				color: #fff;
				a{
					color: #fff;
				}
			}
		}
		p{
			font-family: 'ostrich-content';
			text-transform: uppercase;
			font-size: 29px;
			text-align: center;
			margin: 11px 0;
		}
	}
}
// nav menu
#nav-menu{
	z-index: 99;
	#nav-reponsive-button{
		border-radius: 0px;
	}
	#nav-logo{
		padding: 2px 15px;
		.nav-logo-small{
			height: 46px;
		}
	}
	.navbar-collapse{
		font-family: 'ostrich-content';
		font-size: 20px;
		letter-spacing: 4px;
		ul{
			li{
				a{
					padding: 10px 25px;
					text-align: center;
					line-height: 30px;
					i{
						float: left;
						margin: 0 5px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.navbar{
		margin-bottom: 0px;
	}
}
#nav-menu::after{
	width: 100%;
	height: 2px;
	border-bottom: 1px solid #ddd;
}
// about page
#about-me{
	padding: 110px 0;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
	#my-infomation{
		.biography{
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border: 1px solid #ddd;
			position: relative;
			.my-photo{
				position: relative;
				// background: asset-url('photo-frame.png') bottom center no-repeat;
				background-size: contain;
				img{
					width: 100%;
					// z-index: 0;
					position: relative;
				}
			}
			.list-info{
				padding: 25px 20px 30px 20px;
				li{
					padding: 5px 0;
					font-size: 18px;
					border-bottom: 1px solid #ddd;
					line-height: 28px;
					font-family: 'ostrich-content';
					letter-spacing: 3px;
					.info-tit{
						letter-spacing: normal;
						font-family: 'Hero';
						font-size: 16px
					}
				}
			}
		}
		.biography::after{
			content: "";
			border-bottom: 1px solid #ddd;
			position: absolute;
			bottom: -3px;
			width: 100%;
			border-radius: 10px;
			height: 20px;
		}
	}
	#my-description{
		h3{
			font-size: 30px;
			margin-bottom: 29px;
			font-family: 'ostrich-content';
			font-weight: bold;
			padding-left: 15px;
			letter-spacing: 4px;
			color: #333333;
		}
		p{
			padding-bottom: 10px;
			font-size: 18px;
			font-family: 'Hero';
			.strong-text{
				font-size: 40px;
			}
		}
		.send-message{
			margin: 40px 0 30px;
			a{
				font-size: 20px;
				background-color: #34AADC;
				font-family: 'ostrich-content';
				letter-spacing: 4px;
				font-weight: bold;
				padding: 15px 25px;
				border: 0px solid #555555;
				i{
					margin-right: 12px;
				}
			}
		}
	}
}
// resume
#resume{
	padding: 0 0 110px 0 ;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
	.resume-tittle{
		font-size: 35px;
		font-family: 'Hero';
		margin-bottom: 30px;
	}
	.resume::before{
		content: "";
		position: absolute;
		top: -5px;
		width: 12px;
		height: 12px;
		background-color: #e1e1e1;
		left: 50%;
		border-radius: 12px;
		margin-left: -6px;
	}
	.resume{
		position: relative;
		.time-line::before{
			left: 50%;
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 2px;
			margin-left: -1px;
			background-color: #e1e1e1;
		}
		.time-line{
			margin-bottom: 50px;
			position: relative;
			padding: 0;
			list-style: none;
			li::before, li::after{
				content: " ";
				display: table;
			}
			li::after{
				clear: both;
			}
			li{
				display: list-item;
				margin-bottom: 15px;
				min-height: 100px;
				position: relative;
				.event-time{
					left: 50%;
					width: 160px;
					margin-left: -80px;
					margin-top: 30px;
					position: absolute;
					text-align: center;
					background-color: #fff;
					padding: 5px 0;
					span{
						font-size: 20px;
						font-family: 'Hero';
					}
				}
				.event-panel::before{
					left: 100%;
					border-left: 12px solid #f2f2f2;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					-webkit-transition: all 400ms;
					-moz-transition: all 400ms;
					-o-transition: all 400ms;
					transition: all 400ms;
					content: "";
					top: 37px;
					position: absolute;
				}
				.event-panel{
					float: left;
					width: 43%;
					text-align: right;
					border: 1px solid #f2f2f2;
					position: relative;
					background-color: #f2f2f2;
					-webkit-transition: all 400ms;
					-moz-transition: all 400ms;
					-o-transition: all 400ms;
					transition: all 400ms;
					.event-panel-content{
						position: relative;
						padding: 24px;
						h4{
							font-size: 20px;
							font-weight: bold;
						}
						p{
							font-size: 18px;
						}
					}
				}
				.event-panel:hover{
					background-color: #333333;
					color: #fff;
				}
				.event-panel:hover:before{
					border-left: 12px solid #333333;
				}
			}
			li.time-inverted{
				.event-panel{
					float: right;
					text-align: left;
				}
				.event-panel::before{
					right: 100%;
					border-right: 12px solid #f2f2f2;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					-webkit-transition: all 400ms;
					-moz-transition: all 400ms;
					-o-transition: all 400ms;
					transition: all 400ms;
					content: "";
					top: 37px;
					position: absolute;
					right: auto;
					left: -15px;
					border-right-width: 15px;
					border-left-width: 0;
				}
				.event-panel:hover:before{
					border-right-color: #333333;
				}
			}
		}
	}
	.resume::after{
		content: "";
		position: absolute;
		bottom: -5px;
		width: 12px;
		height: 12px;
		background-color: #e1e1e1;
		left: 50%;
		border-radius: 12px;
		margin-left: -6px;
	}
}
// work
#work{
	background-color: #F2F1ED;
	padding: 110px 0 ;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
	.work_el{
		h3{
			font-size: 35px;
			font-family: 'Hero';
			margin-bottom: 50px;
		}
		.skill-progress{
			position: relative;
			.skill-title{
				width: 30%;
				float: left;
				h4{
					font-size: 23px;
					font-weight: normal;
					margin-top: -6px;
				}
			}
			.progress{
				height: 10px;
				margin-bottom: 45px;
				background-color: #DBDDDE;
				border-radius: 3px;
				box-shadow: none;
				width: 70%;
				.progress-bar{
					background-color: #34AADC;
					span{
						position: absolute;
						top: -20px;
						right: 15px;
						color: #282828;
					}
				}
				.progress-bar.six-sec-ease-in-out{
					-webkit-transition: width 2s ease-in-out;
					-moz-transition: width 2s ease-in-out;
					-o-transition: width 2s ease-in-out;
					transition: width 2s ease-in-out;
				}
			}
		}
	}
	.project{
		ul{
			margin: 0 0 35px;
			text-align: center;
			li{
				display: inline-block;
				padding-right: 5px;
				padding-left: 5px;
				margin-bottom: 25px;
				a{
					display: block;
					padding: 3px 18px 1px;
					border-radius: 4px;
					color: #34AADC;
					font-size: 20px;
					font-family: 'Hero';
					text-decoration: none;
				}
				a.active, :hover{
					position: relative;
					background: #34AADC;
					border-bottom: 4px solid #224455;
					color: #fff;
				}
			}
		}
		#grid{
			padding-right: 5px;
			padding-left: 5px;
			min-height: 235px;
			position: relative;
			.portfolio-item{
				display: inline-block;
			}
			.portfolio-bg {
				background: #fff;
				padding: 5px;
				margin-bottom: 20px;
				border: 1px solid #eee;
				border-bottom: 3px double #eee;
				.portfolio {
					position: relative;
					overflow: hidden;
					.tt-overlay {
						position: absolute;
						background-color: rgba(26, 30, 31, 0.85);
						width: 100%;
						height: 100%;
						opacity: 0;
						transition: all 400ms;
					}
					.links {
						width: 90px;
						height: 40px;
						position: absolute;
						top: 40%;
						left: 50%;
						margin-top: -20px;
						margin-left: -45px;
						opacity: 0;
						-webkit-transform: translate(0,-50px);
						-moz-transform: translate(0,-50px);
						-ms-transform: translate(0,-50px);
						-o-transform: translate(0,-50px);
						transform: translate(0,-50px);
						text-align: center;
						transition: all 400ms;
						a{
							color: #34AADC;
							width: 40px;
							height: 40px;
							margin: 0 auto;
							border: 1px solid #34AADC;
							display: block;
							padding-top: 10px;
							border-radius: 4px;
							font-size: 15px;
							transition: all 400ms;
						}
						a:hover{
							background-color: #34AADC;
							color: #fff;
						}
					}
					img{
						width: 100%;
					}
					.portfolio-info {
						position: absolute;
						bottom: -100%;
						left: 0;
						background-color: #34AADC;
						color: #fff;
						height: 45px;
						width: 100%;
						text-align: center;
						transition: all 400ms;
						h3{
							font-size: 18px;
							line-height: 45px;
							margin: 0;
						}
					}
				}
				.portfolio:hover .tt-overlay, .portfolio:hover .links {
					opacity: 1;
					-webkit-transform: translate(0,0);
					-moz-transform: translate(0,0);
					-ms-transform: translate(0,0);
					-o-transform: translate(0,0);
					transform: translate(0,0);
				}
				.portfolio:hover .portfolio-info{
					bottom: 0;
				}
			}
		}
	}
}
// contact
#contact{
	padding: 110px 0 ;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
	.contact-form{
		h3{
			font-size: 33px;
			margin-bottom: 30px;
		}
		div{
			input, textarea{
				font-family: 'Hero';
				font-size: 20px;
				padding: 10px 20px;
				height: auto;
			}
			input:focus, textarea:focus{
				border: 1px solid #34AADC;
			}
			input.success{
				background-image:  asset-url('success.png');
				background-position: center right;
				background-repeat: no-repeat;
			}
			textarea.success{
				background-image:  asset-url('success.png');
				background-position: right 10px;
				background-repeat: no-repeat;
			}
			input.error{
				background-image:  asset-url('error.png');
				background-position: center right;
				background-repeat: no-repeat;
			}
			textarea.error{
				background-image:  asset-url('error.png');
				background-position: right 10px;
				background-repeat: no-repeat;
			}
			input[type="submit"]{
				background-color :  #34AADC;
				color: #fff;
				border: 1px solid #34AADC;
				transition: all 400ms;
			}
			input[type="submit"]:hover{
				background-color :  rgba(0,0,0,0.0);
				color: #34AADC;
			}
			textarea{
				width: 100% !important;
			}
			.row{
				margin-bottom: 22px;
			}
		}
	}
}
.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 1.8em;
	right: 1.8em;
	border: 1px solid rgb(34, 68, 85);
	color: rgb(255, 255, 255);
	background-color: rgb(34, 68, 85);
	a{
		color: #fff;
		padding: 5px 12px;
		display: inline-block;
	}
}
// reponsive for home page
@media (max-width: 420px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-461x544-black.jpg');
		height: auto;
		padding: 20px 0;
		.landing-title{
			.title-text{
				margin: 15px 0 22.5px;
			}
		}
	}
	#about-me{
		padding: 50px 0 ;
	}
	#resume{
		padding: 0 0 50px 0 ;
	}
	#work{
		padding: 50px 0 ;
		.work_el{
			.skill-progress{
				.skill-title{
					width: 45%;
				}
				.progress{
					width: 55%;
				}
			}
		}
	}
	#contact{
		padding: 50px 0 ;
	}
}
// reponsive time line
@media (max-width: 992px) { 
	#resume{
		.resume::before{
			left: 10px;
		}
		.resume{
			.time-line::before{
				left: 10px;
			}
			.time-line{
				li{
					.event-time{
						position: relative;
						left: 25px;
						text-align: left;
						margin-left: 0px;
						margin-top: 15px;
					}
					.event-panel{
						width: auto;
						text-align: left;
						margin-left: 20px;
						background-color: #fff;
						border: 1px solid #fff;
						.event-panel-content{
							padding: 15px 0;
						}
					}
					.event-panel::before{
						display: none;
					}
					.event-panel:hover{
						color: #282828;
						background-color: #fff;
					}
				}
			}
		}
		.resume::after{
			left: 10px;
		}
	}
}
// for 6 and 6 plus
@media (min-width: 421px) and (max-width: 768px){
	background-image: asset-url('bg-1-desktop-1051x699-black.jpg');
	#landing-page{
		height: auto;
		padding: 55px 0;
		.landing-title{
			.title-text{
				margin: 25px 0 35px;
			}
		}
	}
	#about-me{
		padding: 80px 0 ;
	}
	#resume{
		padding: 0 0 80px 0 ;
	}
	#work{
		padding: 80px 0 ;
		.work_el{
			.skill-progress{
				.skill-title{
					width: 40%;
				}
				.progress{
					width: 60%;
				}
			}
		}
	}
	#contact{
		padding: 80px 0 ;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	#landing-page{
		height: auto;
		padding: 120px 0;
		.landing-title{
			.title-text{
				margin: 30px 0 40px;
			}
		}
		.landing-description{
			p{
				margin: 20px;
			}
			ul{
				li{
					margin: 50px 3.5% 0 3.5%;
				}
			}
		}
	}
	#work{
		padding: 50px 0 ;
		.work_el{
			.skill-progress{
				.skill-title{
					width: 35%;
				}
				.progress{
					width: 65%;
				}
			}
		}
	}
 }
@media (min-width: 992px) and (max-width: 1200px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-1239x864-black.jpg');
	}
}
@media (min-width: 1200px) and (max-width: 1600px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-1600x1065-black.jpg');
	}
	#work{
		padding: 50px 0 ;
		.work_el{
			.skill-progress{
				.skill-title{
					width: 25%;
				}
				.progress{
					width: 75%;
				}
			}
		}
	}
}
@media (min-width: 1600px) and (max-width: 1900px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-1991x1326-black.jpg');
	}
}
@media (min-width: 1900px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-2669x1777-black.jpg');
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.navbar-header .collapse, .navbar-toggle {
		display:block !important;
	}
	.navbar-header {
		float:none;
	}
}
