// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing-page{
	padding: 100px 0;
	color: #fff;
	height: 100vh;
	background-image: asset-url('bg-1-desktop-1051x699-black.jpg');
	background-position: center; 
	.landing-image{
		.main-logo{
			width: 100%;
		}
	}
	.landing-title{
		.title-text{
			text-align:center;
			font-family: 'ostrich-title';
			font-size: 55px;
			text-transform: uppercase;
			margin: 20px 0 30px;
		}
	}
	.landing-description{
		text-align: center;
		ul{
			li{
				margin: 30px 3.5% 0 3.5%;
				width: 5em;
				height: 5em;
				border: 1px solid #fff;
				-moz-border-radius: 5em;
				-webkit-border-radius: 5em;
				border-radius: 5em;
				padding-top: 1em;
				color: #fff;
				a{
					color: #fff;
				}
			}
		}
		p{
			font-family: 'ostrich-content';
			text-transform: uppercase;
			font-size: 29px;
			text-align: center;
			margin: 11px 0;
		}
	}
}
// nav menu
#nav-menu{
	z-index: 99;
	#nav-reponsive-button{
		border-radius: 0px;
	}
	#nav-logo{
		padding: 2px 15px;
		.nav-logo-small{
			height: 46px;
		}
	}
	.navbar-collapse{
		font-family: 'ostrich-content';
		font-size: 20px;
		letter-spacing: 4px;
		ul{
			li{
				a{
					padding: 10px 25px;
					text-align: center;
					line-height: 30px;
					i{
						float: left;
						margin: 0 5px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.navbar{
		margin-bottom: 0px;
	}
}
#nav-menu::after{
	width: 100%;
	height: 2px;
	border-bottom: 1px solid #ddd;
}
// about page
#about-me{
	padding: 110px 0;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
	#my-infomation{
		.biography{
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border: 1px solid #ddd;
			position: relative;
			.my-photo{
				position: relative;
				// background: asset-url('photo-frame.png') bottom center no-repeat;
				background-size: contain;
				img{
					width: 100%;
					// z-index: 0;
					position: relative;
				}
			}
			.list-info{
				padding: 25px 20px 30px 20px;
				li{
					padding: 5px 0;
					font-size: 18px;
					border-bottom: 1px solid #ddd;
					line-height: 28px;
					font-family: 'ostrich-content';
					letter-spacing: 3px;
					.info-tit{
						letter-spacing: normal;
						font-family: 'Hero';
						font-size: 16px
					}
				}
			}
		}
		.biography::after{
			content: "";
			border-bottom: 1px solid #ddd;
			position: absolute;
			bottom: -3px;
			width: 100%;
			border-radius: 10px;
			height: 20px;
		}
	}
	#my-description{
		h3{
			font-size: 30px;
			margin-bottom: 29px;
			font-family: 'ostrich-content';
			font-weight: bold;
			padding-left: 15px;
			letter-spacing: 4px;
			color: #333333;
		}
		p{
			padding-bottom: 10px;
			font-size: 18px;
			font-family: 'Hero';
			.strong-text{
				font-size: 40px;
			}
		}
		.send-message{
			margin: 40px 0 30px;
			a{
				font-size: 20px;
				background-color: #4CD964;
				font-family: 'ostrich-content';
				letter-spacing: 4px;
				font-weight: bold;
				padding: 15px 25px;
				border: 0px solid #555555;
				i{
					margin-right: 12px;
				}
			}
		}
	}
}
// resume
#resume{
	padding: 0 0 110px 0 ;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
	.resume-tittle{
		font-size: 35px;
		font-family: 'Hero';
		margin-bottom: 30px;
	}
	.resume::before{
		content: "";
		position: absolute;
		top: -5px;
		width: 12px;
		height: 12px;
		background-color: #e1e1e1;
		left: 50%;
		border-radius: 12px;
		margin-left: -6px;
	}
	.resume{
		position: relative;
		.time-line::before{
			left: 50%;
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 2px;
			margin-left: -1px;
			background-color: #e1e1e1;
		}
		.time-line{
			margin-bottom: 50px;
			position: relative;
			padding: 0;
			list-style: none;
			li::before, li::after{
				content: " ";
				display: table;
			}
			li::after{
				clear: both;
			}
			li{
				display: list-item;
				margin-bottom: 15px;
				min-height: 100px;
				position: relative;
				.event-time{
					left: 50%;
					width: 160px;
					margin-left: -80px;
					margin-top: 30px;
					position: absolute;
					text-align: center;
					background-color: #fff;
					padding: 5px 0;
					span{
						font-size: 20px;
						font-family: 'Hero';
					}
				}
				.event-panel::before{
					left: 100%;
					border-left: 12px solid #f2f2f2;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					-webkit-transition: all 400ms;
					-moz-transition: all 400ms;
					-o-transition: all 400ms;
					transition: all 400ms;
					content: "";
					top: 37px;
					position: absolute;
				}
				.event-panel{
					float: left;
					width: 43%;
					text-align: right;
					border: 1px solid #f2f2f2;
					position: relative;
					background-color: #f2f2f2;
					-webkit-transition: all 400ms;
					-moz-transition: all 400ms;
					-o-transition: all 400ms;
					transition: all 400ms;
					.event-panel-content{
						position: relative;
						padding: 24px;
						h4{
							font-size: 20px;
							font-weight: bold;
						}
						p{
							font-size: 18px;
						}
					}
				}
				.event-panel:hover{
					background-color: #224455;
					color: #fff;
				}
				.event-panel:hover:before{
					border-left: 12px solid #224455;
				}
			}
			li.time-inverted{
				.event-panel{
					float: right;
					text-align: left;
				}
				.event-panel::before{
					right: 100%;
					border-right: 12px solid #f2f2f2;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					-webkit-transition: all 400ms;
					-moz-transition: all 400ms;
					-o-transition: all 400ms;
					transition: all 400ms;
					content: "";
					top: 37px;
					position: absolute;
					right: auto;
					left: -15px;
					border-right-width: 15px;
					border-left-width: 0;
				}
				.event-panel:hover:before{
					border-right-color: #224455;
				}
			}
		}
	}
	.resume::after{
		content: "";
		position: absolute;
		bottom: -5px;
		width: 12px;
		height: 12px;
		background-color: #e1e1e1;
		left: 50%;
		border-radius: 12px;
		margin-left: -6px;
	}
}
// work
#work{
	padding: 110px 0 ;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
}
// contact
#contact{
	padding: 110px 0 ;
	h2{
		font-size: 50px;
		margin-bottom: 90px;
		position: relative;
	}
	h2::after{
		content: "";
		background: asset-url('section-divider.png') no-repeat 0 0;
		height: 15px;
		width: 113px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40px;
		margin: 0 auto;
	}
}
// reponsive for home page
@media (max-width: 420px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-461x544-black.jpg');
		height: auto;
		padding: 20px 0;
		.landing-title{
			.title-text{
				margin: 15px 0 22.5px;
			}
		}
	}
	#about-me{
		padding: 50px 0 ;
	}
	#resume{
		padding: 50px 0 ;
	}
	#work{
		padding: 50px 0 ;
	}
	#contact{
		padding: 50px 0 ;
	}
}
// for 6 and 6 plus
@media (min-width: 421px) and (max-width: 768px){
	background-image: asset-url('bg-1-desktop-1051x699-black.jpg');
	#landing-page{
		height: auto;
		padding: 55px 0;
		.landing-title{
			.title-text{
				margin: 25px 0 35px;
			}
		}
	}
	#about-me{
		padding: 80px 0 ;
	}
	#resume{
		padding: 80px 0 ;
	}
	#work{
		padding: 80px 0 ;
	}
	#contact{
		padding: 80px 0 ;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	#landing-page{
		height: auto;
		padding: 120px 0;
		.landing-title{
			.title-text{
				margin: 30px 0 40px;
			}
		}
		.landing-description{
			p{
				margin: 20px;
			}
			ul{
				li{
					margin: 50px 3.5% 0 3.5%;
				}
			}
		}
	}
 }
@media (min-width: 992px) and (max-width: 1200px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-1239x864-black.jpg');
	}
}
@media (min-width: 1200px) and (max-width: 1600px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-1600x1065-black.jpg');
	}
}
@media (min-width: 1600px) and (max-width: 1900px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-1991x1326-black.jpg');
	}
}
@media (min-width: 1900px) { 
	#landing-page{
		background-image: asset-url('bg-1-desktop-2669x1777-black.jpg');
	}
}
